# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="mysql://root:password@localhost:3306/vincet"

# Webhook Signing Secret
CLERK_WEBHOOK_SIGNING_SECRET=""
